<h5>Listado de locales</h5>
<br>
<form [formGroup]="queryForm" >
    <button (click)="ant()" >Anterior</button>
    <input  formControlName="limit" [(ngModel)]="limit" type="number" placeholder="limit" min="1" max="10"/>
    <button (click)="next()" >Siguiente</button>
</form>
<table class="table table-hovered">
    <thead>
        <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Dirección</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of locals;let i = index ">  
            <td>{{i | masmas}}</td>          
            <td>{{item.name}}</td>
            <td>{{item.direction}}</td>
            <td class="btn-group">
                <button class="btn btn-sm btn-info" [routerLink]="['/local', item.idlocal]"><fa-icon [icon]='faEye'></fa-icon></button>
                <button class="btn btn-sm btn-warning" (click)="update(item)" ><fa-icon [icon]='faPencilAlt'></fa-icon></button>
                <button class="btn btn-sm btn-danger" (click)="delete(item)" ><fa-icon [icon]='faTrash'></fa-icon></button>
            </td>
        </tr>
    </tbody>

</table>