<h5>{{title}}</h5>
<br>
<form [formGroup]="formOrder" (ngSubmit)="save()" class="user">
    <div class="card-body">
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faCheckCircle'></fa-icon></span>
            </div>            
            <select formControlName="typeiva" [(ngModel)]="order.typeiva" [ngClass]="{'is-invalid': submitted && formOrder.controls.aumont.errors }" class="form-control form-control-user"  placeholder="Tipo de iva"> 
                <option value="P">Procesado</option>
                <option value="N">Natural</option>
            </select>
            <div *ngIf="submitted && formOrder.controls.typeiva.errors" class="invalid-feedback">
                <div *ngIf="formOrder.controls.typeiva.errors.required">El tipo de iva es requerido</div>
            </div>
        </div>
        <div class="input-group md-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faMoneyBill'></fa-icon></span>
            </div>
            <input formControlName="aumont" [(ngModel)]="order.aumont" [ngClass]="{'is-invalid': submitted && formOrder.controls.aumont.errors }"  type="text" class="form-control form-control-user" placeholder="Monto" />
            <div *ngIf="submitted && formOrder.controls.aumont.errors" class="invalid-feedback">
                <div *ngIf="formOrder.controls.aumont.errors.required">El monto es requerido</div>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text"><fa-icon [icon]='faCheckCircle'></fa-icon></span>
            </div>            
            <select formControlName="state" [(ngModel)]="order.state" [ngClass]="{'is-invalid': submitted && formOrder.controls.state.errors }" class="form-control form-control-user"  placeholder="Estado de entrega">
                <option>Entregado</option>
                <option>En proceso</option>
                <option>No entregado</option>
            </select>
            <div *ngIf="submitted && formOrder.controls.state.errors" class="invalid-feedback">
                <div *ngIf="formOrder.controls.state.errors.required">El estado es requerido</div>
            </div>
        </div>
        <br>
        <div class="btn-group">
            <button type="submit" class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
            <button type="reset" (click)="onReset()" class="btn btn-danger">
                <fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar</button>
        </div>
    </div>
</form>

