<div class="col-12">
    <div class="breadcumb-area bg-img">		
            <div class="bradcumbContent">
                <h2>{{title}}</h2>
            </div>
        </div>
    
        <div class="top-popular-courses-area mt-100 section-padding-100-70">
            <section class="contact-area mt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-content">
                                <div class="row">																
                                    <div class="col-12">
                                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">										
    
                                            
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faFont'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <span class="form-control">{{motorized.owner}}</span>
                                                    </div>																																		
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <span class="form-control">{{motorized.brand}}</span>
                                                    </div>
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <span class="form-control">{{motorized.vehicle}}</span>
                                                    </div>
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <span class="form-control">{{motorized.disponibility}}</span>
                                                    </div>
                                                </div>
    
                                                <div class="d-flex justify-content-end">																																                                                    
                                                    <button (click)="toList()"  class="btn btn-sm academy-btn btn-2 ml-2" type="button"><fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar</button>												
                                                </div>											
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>