<br>
<h5>{{ motorized.name }}</h5>
<hr>
<div class="container">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faAlignJustify'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Marca</small>
                <p class="h6"><strong>{{motorized.name}}</strong></p>
            </div>
        </div>        
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faCar'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Vehiculo</small>
                <p class="h6"><strong>{{motorized.vehicle}}</strong></p>
            </div>
        </div>
    </div>
<hr>
<br>
</div>