<h5>Listado de clientes</h5>
<br>
<table class="table table-hovered">
    <thead>
        <tr>
            <td>N°</td>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr tr *ngFor="let item of customers ;let i = index;">            
            <td>{{i | masmas}}</td>
            <td>{{item.name | titlecase}}</td>
            <td>{{item.phone}}</td>
            <td class="btn-group">
                <button class="btn btn-sm btn-info" [routerLink]="['/customer', item.idcustomer]"><fa-icon [icon]='faEye'></fa-icon></button>
                <button class="btn btn-sm btn-warning" (click)="update(item)" ><fa-icon [icon]='faPencilAlt'></fa-icon></button>
                <button class="btn btn-sm btn-danger" (click)="delete(item)" ><fa-icon [icon]='faTrash'></fa-icon></button>
            </td>
        </tr>
    </tbody>
</table>
