<div class="col-12">
    <div class="breadcumb-area bg-img">		
            <div class="bradcumbContent">
                <h2>{{title}}</h2>
            </div>
        </div>
    
        <div class="top-popular-courses-area mt-100 section-padding-100-70">
            <section class="contact-area mt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-content">
                                <div class="row">																
                                    <div class="col-12">
                                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">										
    
                                            <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">


                                                <div class="row d-flex align-items-center">
                                                    <select formControlName="idcustomer" type="text" class="form-control" [(ngModel)]="charge.idcustomer" [ngClass]="{'is-invalid':  submitted && f.idcustomer.errors}" >
                                                        <option [value]="item.idcustomer" *ngFor="let item of customers">{{item.name}}</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="row d-flex align-items-center">
                                                    <select formControlName="idmotorized" type="text" class="form-control" [(ngModel)]="charge.idmotorized" [ngClass]="{'is-invalid':  submitted && f.idmotorized.errors}">
                                                        <option [value]="item.idmotorized" *ngFor="let item of motorizeds">{{item.owner}} - {{item.vehicle}}</option>
                                                    </select>
                                                </div>
                                                
                                                <br>

                                                <div class="row d-flex align-items-center"> 																																	
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <input formControlName="state" type="text" class="form-control" [(ngModel)]="charge.state" [ngClass]="{'is-invalid':  submitted && f.state.errors}" placeholder="Estado" />
                                                        <div class="invalid-feedback" *ngIf=" submitted && f.state.errors" class="invalid-feedback">
                                                            <small *ngIf=" submitted && f.state.errors.required">El estado es requerida</small>
                                                        </div>													
                                                    </div>
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <input formControlName="description" type="text" class="form-control" [(ngModel)]="charge.description" [ngClass]="{'is-invalid':  submitted && f.description.errors}" placeholder="Descripción" />
                                                        <div class="invalid-feedback" *ngIf=" submitted && f.description.errors" class="invalid-feedback">
                                                            <small *ngIf=" submitted && f.description.errors.required">La discripción es requerida</small>
                                                        </div>													
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">																																
                                                    <button class="btn btn-sm academy-btn btn-3" type="submit"><fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
                                                    <button (click)="onReset()"  class="btn btn-sm academy-btn btn-2 ml-2" type="button"><fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar</button>												
                                                </div>											
                                            </form>								
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <table  class="table">
            <thead>
                <td>No. </td>
                <td>Nombre</td>
                <td>Marca</td>
                <td>Subtotal</td>
                <td><button class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModal">
                    <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                </button></td>         
            </thead>
            <tr *ngFor="let item of charge.products; let i = index">
                <td>{{ i+1 }} </td>
                <td>{{ item.name }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.subtotal }}</td>            
                <td>
                </td>
            </tr>
        </table>

    </div>