

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZQssUGQtyQ1IUaUXuiSH2Oid61lsSi68N7Q&usqp=CAU"/> 

    <ul class="nav"  >
      <li><a  routerLink="/">Inicio</a></li>
      <li ><a >Cliente</a>
        <ul>
          <li><a [routerLink]="['/customer/form']" routerLinkActive="router-link-active">Registrar</a></li>
          <li ><a [routerLink]="['/customer/list']" routerLinkActive="router-link-active" >Listar clientes</a></li>
        </ul>
      </li>
      <li><a>Local</a>
        <ul>
          <li><a  [routerLink]="['/local/form']" routerLinkActive="router-link-active" >Registrar</a></li>
          <li><a [routerLink]="['/local/list']" routerLinkActive="router-link-active" >Listar localess</a></li>
        </ul>
      </li>
      <li><a>Productos</a>
        <ul>
          <li><a  [routerLink]="['/product/form']" routerLinkActive="router-link-active" >Registrar</a></li>
          <li><a [routerLink]="['/product/list']" routerLinkActive="router-link-active" >Listar productos</a></li>
        </ul>
      </li>
      <li><a>Vehiculos</a>
        <ul>
          <li [routerLink]="['/motorized/form']" routerLinkActive="router-link-active" ><a >Registrar</a></li>
          <li [routerLink]="['/motorized/list']" routerLinkActive="router-link-active"><a  >Listar motorizados</a></li>
        </ul>
      </li>
      <li ><a >Orden</a>
        <ul>
          <li><a [routerLink]="['/charge/form']" routerLinkActive="router-link-active" >Registrar</a></li>
          <li><a [routerLink]="['/charge/list']" routerLinkActive="router-link-active" >Listar ordenes</a></li>
        </ul>
      </li>
      <li><a >Registrarse</a>
        <ul>
         <li><a [routerLink]="['/signup']" routerLinkActive="router-link-active">Registro</a></li> 
         <li><a [routerLink]="['/login']" routerLinkActive="router-link-active">Ingresar</a></li> 
        </ul>
      </li>
      <li><a >Gráfica de datos</a>
        <ul>
         <li><a [routerLink]="['/grafica/barras']" routerLinkActive="router-link-active">Gráfica en barras</a></li> 
         <li><a [routerLink]="['/grafica/pastel']" routerLinkActive="router-link-active">Gráfica en Pastel</a></li> 
        </ul>
      </li>
      
    </ul>
    
</div>



<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="top-header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="header-content h-100 d-flex align-items-center justify-content-between">
                    <div class="login-content">
                        <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Registro</a>
                    </div>
                    <h4>|</h4>
                    <div class="login-content">
                      <a [routerLink]="['/login']" routerLinkActive="router-link-active">Ingresar</a>
                    </div>
                    <h4>|</h4>
                    <div class="login-content">
                      <a href="#" (click)="logout()" routerLinkActive="router-link-active">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- Container -->
  <div class="container container-fluid my-3">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer>
    <br>
      &nbsp;&copy;Victor Cuyo&nbsp;      
  </footer>
 

</div>
