
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTZQssUGQtyQ1IUaUXuiSH2Oid61lsSi68N7Q&usqp=CAU"
  />&nbsp;|&nbsp;
  <span>
    <a routerLink="/">Inicio</a>
  </span>&nbsp;|&nbsp;
  <span>
    <a routerLink="/customer">Clientes</a>
  </span>&nbsp;|&nbsp;
  <span>
    <a routerLink="/local">Locales</a>
  </span>&nbsp;|&nbsp;
  <span>
    <a routerLink="/motorized">Vehiculos</a>
  </span>&nbsp;|&nbsp;
 <span>
    <a routerLink="/order">Orden</a>
  </span>&nbsp;|&nbsp;
    <div class="spacer"></div>       
</div>

<div class="content" role="main">

  <!-- Highlight Card -->


  <!-- Container -->
  <div class="container container-fluid my-3">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer>
    <br>
      &nbsp;&copy;Victor Cuyo&nbsp;      
  </footer>
 

</div>
