<br>
<h5>{{ local.name }}</h5>
<hr>
<div class="container">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faHome'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Nombres</small>
                <p class="h6"><strong>{{local.name}}</strong></p>
            </div>
        </div>        
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Direccion</small>
                <p class="h6"><strong>{{local.direction}}</strong></p>
            </div>
        </div>
    </div>
<hr>
<br>
</div>