<br>
<h5>Orden</h5>
<hr>
<div class="container">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faHome'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Sub total</small>
                <p class="h6"><strong>{{order.subtotal}}</strong></p>
            </div>
        </div>        
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Tipo de iva</small>
                <p class="h6"><strong>{{order.typeiva}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Monto</small>
                <p class="h6"><strong>{{order.aumont}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Estado</small>
                <p class="h6"><strong>{{order.state}}</strong></p>
            </div>
        </div>
    </div>
<hr>
<br>
</div>