<br>
<h5>Orden</h5>
<hr>
<div class="container">
    <div class="d-flex justify-content-around">
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faHome'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Sub total</small>
                <p class="h6"><strong>{{order.subtotal}}</strong></p>
            </div>
        </div>        
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Tipo de iva</small>
                <p class="h6"><strong>{{order.typeiva}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Monto</small>
                <p class="h6"><strong>{{order.aumont}}</strong></p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <fa-icon class="mr-3 fa-2x" [icon]='faMapMarkedAlt'></fa-icon>
            </div>
            <div class="media-body">
                <small class="media-heading">Estado</small>
                <p class="h6"><strong>{{order.state}}</strong></p>
            </div>
        </div>
    </div>
<hr>
<br>

<!--Bill-->
<h4 class="text-center">Facturas</h4>
<table class="table table-hovered">
    <thead>
        <tr>
            <th>N°</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Descripcion</th>
            <th>Unidades </th>                                        
            <th>Total</th> 
            <th>
                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModal">
                    <fa-icon [icon]='faPlus'></fa-icon>
                </button>
            </th>        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bills;let i = index;">            
            <td>{{i | masmas}}</td>
            <td>Nombre {{item.customer.name }} - {{item.customer.phone }}</td> 
            <td>{{item.date | date:'dd-MMM-yyyy HH:mm'}}</td>
            <td>{{item.product }}</td>  
            <td>{{item.description }}</td>  
            <td>{{item.quantity }}</td>                
            <td>{{item.total | currency }}</td>                        
            <td class="btn-group">                                                
            </td>
        </tr>
    </tbody>
</table>
<!--Bill-->
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="formRegs" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Factura</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
                </div>         
                <select formControlName="customerid" [(ngModel)]="bill.customerid" [ngClass]="{'is-invalid': submitted && f.customerid.errors }" class="form-control form-control-user"  placeholder="Cliente">
                    <option *ngFor="let item of customers" [value]="item.idcustomer">{{item.name}}</option>                    
                </select>
                <div *ngIf="submitted && f.customerid.errors" class="invalid-feedback">
                    <div *ngIf="f.customerid.errors.required">El cliente es requerido</div>
                </div>               
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
                </div>            
                <input formControlName="product" [(ngModel)]="bill.product" [ngClass]="{'is-invalid': submitted && f.product.errors }" class="form-control form-control-user"  placeholder="Nombre del producto">
                <div *ngIf="submitted && f.product.errors" class="invalid-feedback">
                    <div *ngIf="f.product.errors.required">El producto es requerido</div>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
                </div>            
                <input formControlName="description" [(ngModel)]="bill.description" [ngClass]="{'is-invalid': submitted && f.description.errors }" class="form-control form-control-user"  placeholder="Descripcion del producto">
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">La description es requerido</div>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
                </div>            
                <input formControlName="quantity" [(ngModel)]="bill.quantity" [ngClass]="{'is-invalid': submitted && f.quantity.errors }" class="form-control form-control-user"  placeholder="Costo">
                <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
                    <div *ngIf="f.quantity.errors.required">El costo es requerido</div>
                </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onReset()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success">Guardar</button>
        </div>
        </form>
      
    </div>

    </div>
  </div>