<div>
<div class="media">    
    <div class="media-body">
      <h4 class="media-heading">Gestión de Clientes</h4>
      <p>Operaciones CRUD/L del modelo Cliente</p>      
    </div>   
  </div>
<hr/>
<div class="row">
    <app-customer-form [customer]="mainCustomer"
     [title]="mainTitle"
    (flagToReload)="reloadToDo($event)"></app-customer-form>    
    <hr>
    <app-customer-list 
      [flagToReload]="mainReload"
      (customerToEdit)="mainUpdate($event)"
      (reloadComplete)="reloadDone($event)"></app-customer-list>
</div>
</div>
