<div class="col-12">
    <div class="breadcumb-area bg-img">		
            <div class="bradcumbContent">
                <h2>{{title}}</h2>
            </div>
        </div>
    
        <div class="top-popular-courses-area mt-100 section-padding-100-70">
            <section class="contact-area mt-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-content">
                                <div class="row">																
                                    <div class="col-12">
                                        <div class="contact-form-area wow fadeInUp" data-wow-delay="500ms">										
    
                                            <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post">
                                                <div class="row d-flex align-items-center">
                                                    
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <input formControlName="owner" type="text" class="form-control" [(ngModel)]="motorized.owner" [ngClass]="{'is-invalid':  submitted && f.owner.errors}" placeholder="Nombre del propietario" />
                                                        <div class="invalid-feedback" *ngIf=" submitted && f.owner.errors" class="invalid-feedback">
                                                            <small *ngIf=" submitted && f.owner.errors.required">El nombre del propietario es requerida</small>
                                                        </div>													
                                                    </div>
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faFont'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <input formControlName="brand" type="text" class="form-control" [(ngModel)]="motorized.brand" [ngClass]="{'is-invalid': submitted && f.brand.errors}" placeholder="Marca" />
                                                        <div class="invalid-feedback" *ngIf=" submitted && f.brand.errors" class="invalid-feedback">
                                                            <small *ngIf=" submitted && f.brand.errors.required">La marca es requerido</small>
                                                        </div>													
                                                    </div>																																		
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">													
                                                        <input formControlName="vehicle" type="text" class="form-control" [(ngModel)]="motorized.vehicle" [ngClass]="{'is-invalid':  submitted && f.vehicle.errors}" placeholder="vehiculo" />
                                                        <div class="invalid-feedback" *ngIf=" submitted && f.vehicle.errors" class="invalid-feedback">
                                                            <small *ngIf=" submitted && f.vehicle.errors.required">El vehiculo es requerida</small>
                                                        </div>													
                                                    </div>
                                                    <div class="col-1">											
                                                        <fa-icon class="fa-2x" [icon]='faAlignCenter'></fa-icon>
                                                    </div>
                                                    <div class="col-5">	
                                                    <select formControlName="disponibility" type="text" class="form-control" [(ngModel)]="motorized.disponibility" [ngClass]="{'is-invalid':  submitted && f.disponibility.errors}" placeholder="Disponibilidad">
                                                        <option value="Disponible" >Disponible</option>
                                                        <option value="Ocupado">Ocupado</option>                
                                                    </select>
                                                    <div class="invalid-feedback" *ngIf=" submitted && f.disponibility.errors" class="invalid-feedback">
                                                        <small *ngIf=" submitted && f.disponibility.errors.required">La disponibilidad es requerida</small>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-end">																																
                                                    <button class="btn btn-sm academy-btn btn-3" type="submit"><fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
                                                    <button (click)="onReset()"  class="btn btn-sm academy-btn btn-2 ml-2" type="button"><fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar</button>												
                                                </div>											
                                            </form>								
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>