<div class="media">    
    <div class="media-body">
      <h4 class="media-heading">Gestión de vehiculos</h4>
      <p>Operaciones CRUD/L del modelo vehiculos</p>      
    </div>   
  </div>
<hr/>
<div class="row">
    <app-motorized-form [motorized]="mainMotorized" [title]="mainTitle" (listToReload)="reload($event)"></app-motorized-form>    
    <hr>
    <app-motorized-list [reloadList]="mainReload"
      (motorizedToEdit)="update($event)"
      (reloadComplete)="reloadDone($event)"></app-motorized-list>
</div>
